:root{
    --light-purple: #d89ff2;
    --dark-purple: #351c75;
    --white: white;
    --default-font: arial;
}

header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 10px 35px;
    position: sticky;
    position: -webkit-sticky;
    font-family: var(--default-font);

}
header button {
    margin: 0;
    color: var(--light-purple);
    font-size: 16px;
    border: none;
    background-color: var(--white);
}
header h2 {
    margin: 7px 0;
    font-size: 16px;
}
.intro {
    margin: 5px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin: 25px 500px;
    font-family: var(--default-font);
}
.secondary-title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin: 25px 500px;
    font-family: var(--default-font);
}
.buttoncontainer {
    text-align: center;
    margin: 10px 500px;
}
.buttoncontainer button {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: var(--default-font);
    background-color: var(--dark-purple);
    color: var(--white);
    display: block;
    border-radius: 10px;
}
.hide {
    display: none;
}
.quiz-questions{
    display: block;
}
.validation {
    text-align: left;
    font-size: 34px;
    font-style: italic;
    margin: 25px 525px;
    font-family: var(--default-font);
}
form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 400px;
}
form input {
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 24px;
    border: 2px solid var(--dark-purple);
    border-radius: 10px;
}
.btn {
    flex:1;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: var(--default-font);
    background-color: var(--dark-purple);
    color: var(--white);
    border-radius: 10px;
}
.high-scores {
    margin: 5px auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#topFiveList {
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 22px;
    text-align: center;
    font-family: var(--default-font);
}
.HSbtncontainer {
    text-align: center;
    display: flex;
    margin: 0px 550px;
}
.HSbtncontainer button {
    flex: 1;
    flex-wrap: wrap;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: var(--default-font);
    background-color: var(--dark-purple);
    color: var(--white);
    border-radius: 10px;
}